body {
  box-sizing: border-box;
  background: #000;
  margin: 0;
  padding: 0;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-cont {
  flex-direction: column;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
}

.cursor{
  cursor: pointer;
}

.bg-register-image {
  background: url(../../../assets/images/gaming.jpg);
  background-position: cover;
  background-size: 100% 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.deep-dark {
  background-color: #1c1e22;
  border: 0 solid rgba(0,0,0,.6);
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1rem;
}

input{
  color: white !important;
  padding: 25px 15px;
}

.btn-primary {
  color: white;
  background-color: #3a3f44;
  border-color: #22241d;
  padding: 35px 0px;
}

.graay{
  background-color: #32383E;
}

.a2 {
  color: #4799eb;
  text-decoration: none;
  background-color: transparent;
}

